{% extends "forum/base.html" %}
{% load i18n %}
    {% block container %}
    <div id="thread-head">
        <div id="thread-head-l">{{ post.title }}</div>
        <div id="thread-head-r">
            由
            {{ post.author.username|default:"匿名" }}
            发布于
            {{ post.created|date:"Y/m/d G:i" }}
        </div>
    </div>
    <div id="thread-body">
        {{ post.content_md|safe|default:"<i>正文无内容</i>" }}
    </div>
    <div><a href="{% url 'post-reply' pk=post.pk %}">回复本文</a></div>
    <div id="thread-reply">
        {% for reply in post.replies.all %}
            <div class="thread-reply-head">
                <i>#{{ forloop.counter }}</i>
                {{ reply.title }}
                <i>
                by
                {{ reply.author.username|default:"匿名" }}
                @
                {{ reply.created|date:"Y/m/d G:i" }}
                </i>
            </div>
            <div class="thread-reply-body">
                {{ reply.content_md|safe|default:"<i>正文无内容</i>" }}
            </div>
        {% endfor %}
    </div>
    {% endblock %}