{% extends "forum/base.html" %}
{% load i18n %}
    {% block container %}
        <div>
            <a href="{% url 'nodetag-list' %}">查看节点(版块)列表</a>
            <a href="{% url 'blog-list' %}">blog</a>
        </div>
        <br/>
    <div id="thread-list">
        {% for thread in context_data reversed %}
        <div class="thread-item">
            <span class="thread-author">{{ thread.author.username|default:"匿名" }}</span>
            ▸
            <span class="thread-created">{% language 'en' %}{{ thread.created|date:"M d, Y" }}{% endlanguage %}</span>
            ▸
            <span class="thread-title">
                [<a href="{{ thread.node.url }}">{{ thread.node.slug|default:"-" }}</a>]
                <a href="{{ thread.url }}">{{ thread.title }}</a>
            </span>
        </div>
        {% endfor %}
    </div>
    {% endblock %}