{% extends "forum/base.html" %}
{% load i18n %}
    {% block container %}

    <div id="thread-list">
        {% for thread in post_list reversed %}
        <div class="thread-item">
            <span class="thread-author">{{ thread.author.username|default:"匿名" }}</span>
            ▸
            <span class="thread-created">{% language 'en' %}{{ thread.created|date:"M d, Y" }}{% endlanguage %}</span>
            ▸
            <span class="thread-title">
                [<a href="{% url 'nodetag-detail' pk=thread.node.pk %}">{{ thread.node.name|default:"-" }}</a>]
                <a href="{% url 'post-detail' pk=thread.pk %}">{{ thread.title }}</a>
            </span>
        </div>
        {% endfor %}
    </div>
    {% endblock %}