{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>LCF的个人网站</title>
    <link rel="stylesheet" href="{% static 'forum/mainstyle.css' %}"/>
</head>
<body>
<div id="container">
    <div id="title">
        <h1><a href="/">lcfcn.com</a></h1>
    </div>
    <div id="navi-bar">
        <a href="{% url 'index' %}">首页|INDEX</a>
        <a href="{% url 'blog-list' %}">博客|BLOG</a>
        <a href="{% url 'forum-index' %}">讨论版|FORUM</a>
        <a href="{% url 'nodetag-list' %}">所有节点|NODES</a>
        <a href="">搜索|SEARCH</a>
    </div>
    {% block container %}

    {% endblock %}
    <div id="footer">☕ POWERED BY LCFORUM ☕</div>
</div>

</body>
</html>