{% load i18n %}
<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="container">
    <div id="title">
        <h1><a href="/">xmu.club</a></h1>
    </div>
    {% block container %}
    <div id="thread-list">
        {% for thread in context_data %}
        <div class="thread-item">
            <span class="thread-author">{{ thread.author.username|default:"匿名" }}</span>
            ▸
            <span class="thread-created">{% language 'en' %}{{ thread.created|date:"M d, Y" }}{% endlanguage %}</span>
            ▸
            <span class="thread-title">
                [<a href="{{ thread.node.url }}">{{ thread.node.slug|default:"-" }}</a>]
                <a href="{{ thread.url }}">{{ thread.title }}</a>
            </span>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    <br/>
    <div>----</div>
    <div id="footer">xmu.club is powered by lcforum</div>
</div>

</body>
</html>