{% extends "forum/base.html" %}
{% load i18n %}
    {% block container %}
        {% regroup posts by node as post_list %}
        <ul>
        {% for node in post_list %}
        <li>
            <a href="{% url 'blog-node' pk=node.grouper.pk %}">{{ node.grouper.name }}</a>
        <ul>
            {% for item in node.list %}
                <li><a href="{% url 'blog-detail' pk=item.pk %}">{{ item.title }}</a></li>
            
            {% endfor %}
            
        </ul>
        </li>
        {% endfor %}

        </ul>

        <ul>
        {% for reply in replies %}
            <li><a href="{% url 'post-detail' pk=reply.post_node.pk %}">{{ reply.title }}</a></li>
        {% endfor %}

        </ul>
    {% endblock %}