{% extends "forum/base.html" %}
{% load i18n %}
    {% block container %}
        {% regroup posts by node as post_list %}
        <ul>
        {% for node in post_list %}
        <li>
        {{ node.grouper }}
        <ul>
            {% for item in node.list %}
                <li>{{ item.title }}</li>
            
            {% endfor %}
            
        </ul>
        </li>
        {% endfor %}

        </ul>

        <ul>
        {% for reply in replies %}
            <li>{{ reply.title }}</li>
        {% endfor %}

        </ul>
    {% endblock %}