body {
    font-size: 16px;
    color: #4B4934;
    font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
}

div {
    word-break: break-all;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}

a {
    color: #4E2008;
    text-decoration: none;
}

a:hover {
    background-color: #EFEACC;
}

a:visited {
    color: #7A6A46;
}

.float-right {
    display: inline-block;
    float: right;
    vertical-align: top;
}

#container {
    margin: auto;
    max-width: 700px;
}

#title {
    margin-top: 60px;
    text-align: center;
}

#title a {
    color: #4B4934;
    font-family: "Courier New", courier, monospace;
}

#title h1 {
    margin: 5px 0;
}

#navi-bar {
    border-bottom: 1px solid #7A6A46;
    border-top: 1px solid #7A6A46;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
}

#navi-bar a {
    color: #4b4934;
    margin: auto 4px;
}

#footer {
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    color: #7A6A46;
}

/*forum index begin*/
.thread-item {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    margin-bottom: 1px;

}

.thread-item:hover {
    border-bottom: 1px dotted;
    margin-bottom: 0;
}

.thread-author {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    width: 80px;
}

/*forum index end*/

/*nodetag list begin*/
#nodetag-list {
    font-size: 18px;
}

/*nodetag list end*/

/*thread detail begin*/
#thread-head {
    overflow: hidden;
}

#thread-head-l {
    float: left;
    width: 80%;
}

#thread-head-r {
    float: right;
    padding-top: 0.4em;
}

#thread-head-t {
    font-size: 25px;
}

#thread-head-b {
    font-size: 13px;
    margin-top: 5px;
    font-style: italic;
}

#post-operate {
    font-size: 14px;
    text-align: right;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

#post-operate:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

#thread-reply {
    border-top: 1px dotted;
    margin: 10px 0 0 10px;
    padding: 2px 0 0 8px;
}

.thread-reply-head {
    border-top: 1px dashed;
    padding: 4px 0;
    background-color: #FBFAF2;
}

.thread-reply-head i {
    font-size: 13px;
}

/*thread detail end*/

/*markdown begin*/
.markdown {
    font-size: 16px;
    line-height: 25px;
}

.markdown a {
    border-bottom: 1px dotted;
}

.markdown blockquote p {
    padding: 0.3em 0.5em;
    border-left: 4px solid #D7D2B7;
    font-style: italic;
}

.markdown pre {
    border-top: 1px solid #d7d2b7;
    border-bottom: 1px solid #d7d2b7;;
    background-color: #efeacc;
    padding: 0.3em;
}

.markdown code {
    background-color: #efeacc;
    font-family: "Courier New", courier, monospace;
}

.markdown h1, .markdown h2, .markdown h3,
.markdown h4, .markdown h5, .markdown h6 {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
}

/*markdown end*/

/*index begin*/
.index-row {
    height: 300px;
    margin-top: 15px;
    overflow: hidden;
    line-height: 25px;
}

#recommended {
    overflow: hidden;
    height: 210px;
    padding-bottom: 90px;
    width: 60%;
    float: left;
    background: url("recommendback.gif") no-repeat bottom center;
}

#intro {
    height: 100%;
    width: 35%;
    float: right;
}

#latest-blog {
    height: 100%;
    width: 48%;
    float: left;
}

#latest-post {
    height: 100%;
    width: 48%;
    float: right;
}

.index-column-title {
    border-bottom: 1px solid #7A6A46;
    border-left: 4px solid #7A6A46;
    font-weight: bold;
    padding-left: 0.4em;
    margin-bottom: 5px;
}

.index-row ul {
    padding: 0;
    margin: 5px 0;
}

.index-row li {
    list-style-type: none;
    height: 25px;
    margin-bottom: 1px;
    overflow: hidden;
}

.index-row li:hover {
    height: 25px;
    /*line-height: 25px;*/
    margin-bottom: 0;
    border-bottom: 1px dotted;
    background-color: #EFEACC;
}

/*index end*/

/*nodetag detail begin*/
.guide-bar {
    margin-bottom: 5px;
    height: 25px;
    line-height: 25px;
}

.guide-bar span {
    margin-left: 1em;
    border-bottom: 1px dotted;
}

#page-navi {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
}

#page-navi span, #page-navi a {
    margin-left: 5px;
    margin-right: 5px;
    color: #7A6A46;
}
/*nodetag detail end*/

/*form style begin*/
.errorlist {
    list-style-type: square;
    color: #a23607;
    font-weight: bold;
}

form label {
    display: block;
    float: left;
    height: 31px;
    line-height: 31px;
    width: 18%;
    font-weight: bold;
}

input[type='text'], input[type='email'],
input[type='password'], textarea {
    border: 1px solid #4b4934;
    color: inherit;
    font-size: inherit;
    padding: 2px 4px;
}

input[type='text'], input[type='email'],
input[type='password'] {
    height: 25px;
    width: 80%;
}

input[type='checkbox'] {
    margin: 0;
    height: 31px;
    line-height: 31px;
}

textarea {
    min-height: 200px;
    min-width: 80%;
    max-width: 80%;
}

.helptext {
    display: block;
    font-size: 13px;
    margin: 5px auto auto 18%;
    color: #999;
}

.error-item {
    font-weight: bold;
    color: #A23607;
}
/*form style end*/
